.App {
  text-align: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  
}

.cardtyp1{
  margin: 2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 200px;
}

.cardtyp2{
  margin: 2rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 50px;
}
.cardtyp3{
  margin: 2rem;
  border: none;
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 200px;
  box-shadow: 5px;
  border-radius: 20px;
  font-family: sans-serif;
}
.cardtyp4{
  margin: 2rem;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  background-color: rgb(196, 196, 31);
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  font-family: cursive;
}

.buttontypes{
  margin: 2rem;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  font-family: cursive;
  
}

.titlehead{
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: lightblue;
}